# This workflow publishes a beta version of the npm package when a beta tag is pushed

name: Publish npm beta package

on:
  push:
    # branches:
    #   - main
    tags:
      # Publish on version tags like: v1.2.3
      - v[0-9]+.[0-9]+.[0-9]+-beta.[0-9]+

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - run: bash ./scripts/ci/test.sh

  publish-beta:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - run: bash ./scripts/ci/npm-publish-beta.sh
